<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681517240136-75hso4u9se57pppmbbi3obrdvo65bv2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681517240136-75hso4u9se57pppmbbi3obrdvo65bv2t</string>
	<key>API_KEY</key>
	<string>AIzaSyBdCqDpYZyTeKvN9Zf-B5e-MD3-PEsCtmM</string>
	<key>GCM_SENDER_ID</key>
	<string>681517240136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.space.x.api</string>
	<key>PROJECT_ID</key>
	<string>spacex-73edc</string>
	<key>STORAGE_BUCKET</key>
	<string>spacex-73edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:681517240136:ios:4b2efccf438f2e8f3e2d7d</string>
</dict>
</plist>
